<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <style>
        section {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 60px 0;
            text-align: center;
        }

        .btn {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 5px;
            background: blueviolet;
        }
    </style>
</head>

<body>
    <section>
        <div class="container text-center">
            <img src="/img/error-404.png" alt="">
            <hr>

            <h3 class="text-danger text-uppercase">Page Not Found</h3>
            <a class="btn" href="/auth/">Home</a>
        </div>

    </section>
</body>

</html>