<%-include('../../includes/header.ejs') %>
<main>
    <section>
        <div class="container text-center">
            <img src="/img/500.png" width="40%" class="img-fluid" alt="">
            <hr>
            <h3 class="text-danger text-uppercase"><%=err%></h3>
        </div>

    </section>
</main>

<%-include('../../includes/footer.ejs') %>